<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright 2015, CyanogenMod Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.theme.platform"
    coreApp="true" android:sharedUserId="android.uid.system"
    android:sharedUserLabel="@string/cm_theme_label">

    <!-- Allows an application to use ThemeManager -->
    <permission android:name="cyanogenmod.permission.ACCESS_THEME_MANAGER"
                android:label="@string/permlab_accessThemeService"
                android:description="@string/permdesc_accessThemeService"
                android:protectionLevel="normal" />

    <!-- Allows an application to read the current theme configuration and
         get information about the various themes currently installed -->
    <permission android:name="cyanogenmod.permission.READ_THEMES"
                android:label="@string/permlab_readThemes"
                android:description="@string/permdesc_readThemesDesc"
                android:protectionLevel="normal" />

    <!-- Allows an application to write the current theme configuration and
         write information about the various themes currently installed.
         Changing themes should be done through the service ACCESS_THEME_MANAGER -->
    <permission android:name="cyanogenmod.permission.WRITE_THEMES"
                android:label="@string/permlab_writeThemes"
                android:description="@string/permdesc_writeThemesDesc"
                android:protectionLevel="normal" />

    <application android:process="system"
                 android:persistent="true"
                 android:hasCode="false"
                 android:label="@string/cm_theme_label"
                 android:allowClearUserData="false"
                 android:killAfterRestore="false"
                 android:supportsRtl="true"/>

</manifest>
